Q1.
Tuples are basically used for ordered collection of data, that can be of any type eg., int, float, string, etc.
Characteristics: 
- tuples are indexed
- tuples are immutable
- tuples are ordered

Q2.

 Two tuple methods are:
1. count method -> used to count the occurances of elements in the tuple.




eg:-

In [6]:
t1=(1,2,3,2,2,2,3,4)
print(t1.count(2))

4

2. index method -> used to get the index of the element in the tuple.




eg:

In [8]:
t2= (32,1,234,12,34,11)
t2.index(234)

2

Q3.

Set does not allow duplicate items in python.

In [10]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
Set= set(List)
print(Set)

{1, 2, 3, 4}

Q4.

- union() -> it is used to find the union of two sets i.e., include all the elements from each of the two sets. 
eg:

In [14]:
set1= {1,2,3,4}
set2= {4,5,6,7}
set3= set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

- update() -> update is used to update the set with the value of other set. 
eg:

In [16]:
set1= {1,2,3,4}
set2= {3,4,5,6}
set2.update(set1)
print(set2)

{1, 2, 3, 4, 5, 6}

Q5.

- Dictionary is used to store the collection of data in  key-value pairs. 
- It is ordered collection of data.

In [18]:
dict= {"name":"yash", "batch":"dsMasters", "start_date":"28 feb"}
print(dict)

{'name': 'yash', 'batch': 'dsMasters', 'start_date': '28 feb'}

Q6.

Yes, we can create nested dictionary.

In [20]:
dict1= {"key":{"nested_key": "value"}}
print(dict1)

{'key': {'nested_key': 'value'}}

Q7.

Q8.

Keys, values, items are the three view objects in dictionary.
- Key view

In [25]:
dict1= {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

- value view

In [26]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

- items view

In [27]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])